.movie {
    width: 19%;
    margin: 10px;
}


.movie-name {
    color: white;
    overflow: hidden;
    max-width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.2rem;
}

.movie:hover {
    opacity: 0.6;
}

img {
    border-radius: 3px;
}