.content-detail {
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-size: cover;
}

.header {
    opacity: 0.7;
    position: fixed;
    top: 0;
    overflow: hidden;
    font-weight: 600;
    font-size: 1rem;
}


.poster-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
}

.poster-area img {
    margin-bottom: 13px;
    height: auto;
    max-height: 410px;
}

.detail-area {
    color: white;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.3rem;
}

.detail-name {
    font-weight: 700;
}

span {
    display: block;
    line-height: 2rem;
    font-size: 1.3rem;
}

.genre {
    text-decoration: none;
    color: white;
    padding: 0px 6px;
    border-radius: 5px;
    margin-left: 3px;
}

.genre:hover {
    background-color: rgba(127, 127, 127, 0.8);
}
 
.overview {
    font-size: 1.2rem;
}

.play-btn {
    overflow: hidden;
    background-color: #cd314b;
    font-weight: 500;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
    text-decoration: none;
    text-align: center;
}

.play-btn:hover {
    background-color: #a11b31;
}
.actors {
    width: 100%;
    margin: 1.3rem 0;
}
.actors-cards {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    font-size: 1rem;
}

.similar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}